.intro{
    display: flex;
    flex-wrap: wrap;
}
.intro img{
    width: 100%;
}
.intro-img{
    flex: 1 1 25rem;
    display: flex;
    flex-direction: row;
     height: 70vh; 
    background-color: firebrick;
    background-size: cover;
}
.intro-title{
    flex: 1 1 20rem;
    background-color: green;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* text-align: center; */
}
.intro-title p{
    padding-left: 2rem;
    padding-right: 1rem;
}



