.row{
    display: flex;
}
#horizontal{
    display: flex;
}
.detailImage{
width: 300px;
}
.container{
    display: flex;
    
}
.f-box{
    display: flex;
    /* flex-direction: row; */
}
.boxes{
    text-align: center;
    margin: 7px;
    width: 50px;
    height: 40px;
    background-color: aqua;
    border: 1px solid white;
    border-radius: 90px;
    padding: 5px;
}
.align{
    text-align: center;
}